In [ ]:
    name='Priya'
print("My name is",name)

My name is Priya

**Variables**

In [ ]:
print("Hello, world!")
x=5
y=10

Hello, world!

**Indentation**

In [ ]:
if x>0:
  print("x is positive")
  print("This is inside the if block")

x is positive
This is inside the if block

**Numeric Types**

In [ ]:
age=20
height=5.4
complex_num=3+4j

**String Type**

In [ ]:
name="Alice"
message="Hello World"
multiline="""This is a
multiline string"""

**Boolean Type**

In [ ]:
is_active=True
is_finished=False

**Type Checking**

In [ ]:
print(type(age))
print(type(height))
print(type(name))
type(age)

<class 'int'>
<class 'float'>
<class 'str'>

int

**Type Conversion**

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

**Create variables for personal information**

In [ ]:
first_name="Priya"
last_name="B"
age=20
height=5.4
year=3
sem=5
print("Name:",first_name,last_name)
print("Age:",age)
print("Height:",height)
print("BCA",year,"rd year",sem,"th sem")

Name: Priya B
Age: 20
Height: 5.4
BCA 3 rd year 5 th sem

**Type conversion**

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 20
Height as integer: 5

**Operators and Basic Operations**

Arithmatic Operations

In [ ]:
a=10
b=7
print("Addition:",a,"+",b,"=",a+b)
print("Subtraction:",a,"-",b,"=",a-b)
print("Multiplication:",a,"x",b,"=",a*b)
print("Division:",a,"/",b,"=",a/b)
print("Floor Division:",a,"//",b,"=",a//b)
print("Modulus:",a,"%",b,"=",a%b)
print("Exponention:",a,"**",b,"=",a**b)

Addition: 10 + 7 = 17
Subtraction: 10 - 7 = 3
Multiplication: 10 x 7 = 70
Division: 10 / 7 = 1.4285714285714286
Floor Division: 10 // 7 = 1
Modulus: 10 % 7 = 3
Exponention: 10 ** 7 = 10000000

Order of operations(PEMDAS)

- P-Parantheses
- E-Exponents
- M-Multiplication
- D-Division
- A-Addition
- S-Subtraction

In [ ]:
result=2+3*7**4-8
print("2+3*7**4-8=",result)

2+3*7**4-8= 7197

Comparision Operators

In [ ]:
x=5
y=10

print("x==y:",x==y)
print("x!=y:",x!=y)
print("x<y:",x<y)
print("x<=y:",x<=y)
print("x>y:",x>y)
print("x>=y:",x>=y)

x==y: False
x!=y: True
x<y: True
x<=y: True
x>y: False
x>=y: False

- String comparision

In [ ]:
name1="Priya"
name2="Riya"
print(f"'{name1}'<'{name2}':{name1 < name2}")

'Priya'<'Riya':True

Logical Operators

In [ ]:
p=True
q=False

print("p and q:",p and q)
print("p or q:",p or q)
print("not q:",not q)

p and q: False
p or q: True
not q: True

In [ ]:
# Practical Example
age=19
has_license=True
can_drive=age>=18 and has_license
print("Can drive:",can_drive)

Can drive: True

In [ ]:
#Multiple conditions
score=80
is_present=True
can_pass=score>=80 or is_present
print("Pass:",can_pass)

Pass: True

In [ ]:
# Personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#Loan Criteria
min_age=18
min_income=30000
min_credit_score=650
is_eligible=age>=min_age or credit_scope>=min_credit and annual_income>=min_income
print("Eligible for loan:",is_eligible)

Eligible for loan: True

In [ ]:
#Check qulifications
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified
print(overall_qualified)

True

**Data Structures**

Lists

- Creating Lists

In [ ]:
fruits=["apple","banana","orange","grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]

- List Indexing(0-based)

In [ ]:
print(fruits[0])
print(fruits[-1])
print(fruits[-2])

apple
grape
orange

- List slicing

In [ ]:
print(f"first 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all fruits:{fruits[1:]}")

first 2 fruits:['apple', 'banana']
last 2 fruits:['orange', 'grape']
all fruits:['banana', 'orange', 'grape']

- List Methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawberry")
removed=fruits.pop()
print(f"Updated list:{fruits}")
print(f"Removed:{removed}")

Updated list:['apple', 'strawberry', 'banana', 'orange', 'grape']
Removed:kiwi

- List operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

length:5
contains 'apple':True
Index of 'banana':2

**Tuple**

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

- Tuple unpacking

In [ ]:
x,y=coordinates
print(f"X:{x},Y:{y}")

X:10,Y:20

- Tuple Methods

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
Index of 'Engineer':2